.vscode/
# Gitignore for the following technologies: Lua
# Neovim specific
session.vim
undo/*
*.log

# Temporary files
*.swp
*.swo
*.swn
*.bak
*.tmp

# Backup files
*.bak
*~

# Compiled files
*.o
*.obj
*.dll
*.so
*.dylib
*.bin
*.exe
*.out

# Lua cache
*.luac
cache/
.luarc.json

# Telescoope theme keeper
current-theme.lua
_color_log.lua


